<!doctype html>
<html ng-app="app">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105364779-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-105364779-3');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="https://bmaupin.github.io/weighted-password-generator/weighted-passgen-0.2.0.min.js"></script>
    <script src="https://bmaupin.github.io/angular-bootstrap-numberpicker/angular-bootstrap-numberpicker-0.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>
    <script src="assets/scripts/passgen.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="stylesheet" href="assets/styles/checkbox.css">
    <link rel="stylesheet" href="assets/styles/passgen.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple password generator</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <ul class="nav navbar-header">
            <span class="navbar-brand">Simple password generator</span>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="align-items: center; display: flex; height: 50px; justify-content: center;">
              <a href="https://github.com/bmaupin/simple-password-generator" style="line-height: initial;">
                <svg height="25px" style="fill: white;" viewBox="0 0 25.58 23.46"><path d="M12.007 0C6.12 0 1.1 4.27.157 10.08c-.944 5.813 2.468 11.45 8.054 13.312.19.064.397.033.555-.084.16-.117.25-.304.244-.5v-2.042c-3.33.735-4.037-1.56-4.037-1.56-.22-.726-.694-1.35-1.334-1.756-1.096-.75.074-.735.074-.735.773.103 1.454.557 1.846 1.23.694 1.21 2.23 1.638 3.45.96.056-.61.327-1.178.766-1.605-2.67-.3-5.462-1.335-5.462-6.002-.02-1.193.42-2.35 1.23-3.226-.327-1.015-.27-2.116.166-3.09 0 0 1.006-.33 3.3 1.23 1.966-.538 4.04-.538 6.003 0 2.295-1.5 3.3-1.23 3.3-1.23.445 1.006.49 2.144.12 3.18.81.877 1.25 2.033 1.23 3.226 0 4.607-2.805 5.627-5.476 5.927.578.583.88 1.386.825 2.206v3.29c-.005.2.092.393.26.507.164.115.377.14.565.063 5.568-1.88 8.956-7.514 8.007-13.313C22.892 4.267 17.884.007 12.008 0z" /></svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container" id="content" ng-controller="PasswordGeneratorController">
      <div class="copyPasswordRow">
        <div id="copyPassword" class="copyPasswordCell">
            <button id="copyPasswordButton" class="btn" type="button" data-clipboard-target="#newPassword" tooltip="{{dynamicTooltip}}" tooltip-placement="bottom" tooltip-trigger="mouseenter" ng-click="changeTooltip()">
              <span class="glyphicon glyphicon-copy"></span>
            </button>
        </div>
        <div class="copyPasswordCell"><pre id="newPassword" class="form-group-lg" select-on-click>{{newPassword}}</pre></div>
      </div>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <a data-toggle="collapse" href="#collapseOne" ng-click="resizeNumberpicker()">
                Options
              </a>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <table id="passwordOptionsTable">
                <tr>
                  <td>
                    Length
                  </td>
                  <td>
                    <numberpicker default-value="16" ng-model="passwordLength" ng-change="updateLength()"></numberpicker>
                  </td>
                </tr>
                <tr>
                  <td>Include lowercase (abc...)</td>
                  <td class="styled-checkbox">
                    <div>
                      <input id="checkbox1" type="checkbox" ng-model="includeLower" ng-change="updateClasses()"><label for="checkbox1"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Include uppercase (ABC...)</td>
                  <td class="styled-checkbox">
                    <input id="checkbox2" type="checkbox" ng-model="includeUpper" ng-change="updateClasses()"><label for="checkbox2"></label>
                  </td>
                </tr>
                <tr>
                  <td>Include numbers (123...)</td>
                  <td class="styled-checkbox">
                    <input id="checkbox3" type="checkbox" ng-model="includeNumbers" ng-change="updateClasses()"><label for="checkbox3"></label>
                  </td>
                </tr>
                <tr>
                  <td>Include symbols (@#$...)</td>
                  <td class="styled-checkbox">
                    <input id="checkbox4" type="checkbox" ng-model="includeSymbols" ng-change="updateClasses()"><label for="checkbox4"></label>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="newPasswordButton">
        <button type="button" class="btn btn-success" ng-click="generateNewPass()">New password</button>
      </div>
    </div>
  </body>
</html>
