/* http://getbootstrap.com/components/#callout-navbar-fixed-top-padding */
body {
  padding-top: 70px;
}

/* Don't collapse navbar on smaller screens (https://stackoverflow.com/a/23536146/399105) */
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav>li, .navbar-nav {
  float: left !important;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.navbar-right {
  float: right!important;
}

/* Disable navbar brand hover colour change (https://stackoverflow.com/a/23092923/399105) */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}
