/* http://getbootstrap.com/components/#callout-navbar-fixed-top-padding */
body {
  padding-top: 70px;
}

/* Use the same padding as h1 so it matches titles on other pages */
#content {
  margin-top: 20px;
}

#copyPassword {
  width: 50px;
}

#copyPassword button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
  width: 100%;
}

#copyPassword button .glyphicon-paste {
  font-size: 18px;
}

#newPassword {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 1.5em;
  height: 100%;
  /* Bootstrap pre has a bottom margin of 10px */
  margin: 0;
}

#newPasswordButton, #passwordTable {
  margin: 20px 0;
}

#newPasswordButton button {
  background-color: #4cae4c;
}

/* Add spacing between all the cells */
#passwordOptionsTable {
  border-collapse: separate;
  border-spacing: 10px;
}

/* Horizontally center the checkboxes */
#passwordOptionsTable td:last-child input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#passwordTable {
  /* Keep the password on one line even if it gets really long */
  white-space: nowrap;
}

#passwordTable td {
  display: inline-block;
  height: 100%;
}

.panel-body {
  padding: 5px;
}

.panel-group {
  /* Make the panel fit the content instead of using all available space */
  display: inline-block;
  /* Bootstrap adds a bottom margin of 20px */
  margin: 0;
}

.panel-heading {
  /* Use the same padding as bootstrap .btn for consistency */
  padding: 6px 12px;
}

.panel-title {
  /* Use the same font size as the rest of the page for consistency */
  font-size: 14px;
}

.toggle-on {
  font-size: 24px;
  padding: 0;
  right: 40%;
}

numberpicker .btn {
  padding: 0;
}

numberpicker .btn.btn-link {
  color: #4cae4c;
}

numberpicker input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
